table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f4f4f4;
}

.joukkueet-lista-container {
  margin: 10px 0;
}

.joukkueet-lista {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  background-color: #f9f9f9;
}

.joukkueet-lista label {
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  transition: background-color 0.2s, color 0.2s;
}


.joukkueet-lista label:hover {
  background-color: #8ad3f4;
  color: #0056b3;
  cursor: pointer;
}

.containerajat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.boxajat {
  width: 120px;
  height: 120px;
  background-color: red;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  margin: 5px;
}

.nopein {
  background-color: #ffeb3b;
  font-weight: bold;
}